#heading{
    border-color: 2px solid aqua;
}
.class{
    font-size: large;
}
.box{
   
height: 100px;
width: 100px;
border: 1px solid Oblack;
margin: 5px;
text-align: center;
background-color:aquamarine;
}